/*!******************
 * Aaron's Theme   *
 *******************/
// Grid Overlay
$visual-grid: false;
$visual-grid-opacity: .05;
$visual-grid-index: front; // or back
$visual-grid-color: red;

////////////////////////////////////////////////////////////////////////////////
// Libraries
////////////////////////////////////////////////////////////////////////////////
@import "library/bourbon/bourbon";
@import "library/neat/neat";
@import "compass";
// @import "library/zendrupal";

////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////
$color-primary: tint(green,40%);
$color-secondary: tint(purple, 60%);
$color-tertiary: shade($color-primary, 20%);
$color-white: #FEFEFE;
$color-yellow: #FFE202;
$color-shadow: #333333;
$color-black: #333333;

////////////////////////////////////////////////////////////////////////////////
// Grid Settings
////////////////////////////////////////////////////////////////////////////////
// Change the grid settings ~ according to the gridulator: http://gridulator.com/
$column: 69px;
$gutter: 12px;
$grid-columns: 12;

// $fg-column: 69px;             // Column Width
// $fg-gutter: 12px;             // Gutter Width
// $fg-max-columns: 12;          // Total Columns For Main Container

// Breakpoints according to: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
$bp-mobile: 768px;
$bp-tablet: 1224px;

// Media Variables
$mobile: new-breakpoint(max-width ($bp-mobile - 1) 4);
$tablet: new-breakpoint(min-width $bp-mobile max-width ($bp-tablet - 1) 8);
$desktop: new-breakpoint(min-width $bp-tablet 12);
$desk-tab: new-breakpoint(min-width $bp-mobile 12);

////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////
// Spacing
// $bleed: 10px;
// $container-width: 960px;
// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;
$padding: 8px;
