// // Heights
$height-pre-header   :auto;
$height-main-header  :auto;
$height-post-header  :auto;
$height-main-footer  :auto;
$height-post-footer  :auto;
// $height-pre-header   :40px;
// $height-main-header  :86px;
// $height-post-header  :50px;
// $height-main-footer  :50px;
// $height-post-footer  :50px;
////////////////////////////////////////////////////////////////////////////////
// Global Grid
////////////////////////////////////////////////////////////////////////////////
%clearfix {
  *zoom: 1; // http://nicolasgallagher.com/micro-clearfix-hack/
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
%btcf { // http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
  content:"";
  display:table;
  clear:both;
}
%container {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin fluid-margin(
  $mg-mobile: 95%,
  $mg-tablet: 91%,
  $mg-desktop: 80%
  ) {
  @extend %clearfix;
  @extend %container;
  @include media($mobile) {
    width: $mg-mobile;
  }
  @include media($tablet) {
    max-width: 960px;
    width: $mg-tablet;
  }
  @include media($desktop) {
    max-width: 1247px;
    width: $mg-desktop;
  }
}
.wrapper {
  @include fill-parent();
}
.inside {
  @include fluid-margin();
}
////////////////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////////////////
#header {
  @include header-grid();
  #pre-header.wrapper {
    @include linear-gradient(lighten($color-primary, 20%), $color-primary);
    .inside {
      height: $height-pre-header;
      #twitter {
      }
      #super-menu {
        @include supermenu();
        ul {
          right: 0;
        }
      }
    }
  }
  #main-header.wrapper {
    @include linear-gradient(lighten($color-secondary, 20%), $color-secondary);
    .inside {
      height: $height-main-header;
      #brand {
        text-align: center;
        height: $height-main-header;
        img {
          height: $height-main-header;
        }
      }
      #main-menu {
        @include supermenu();
      }
    }
  }
  #post-header.wrapper {
    @include linear-gradient(lighten($color-tertiary, 20%), $color-tertiary);
    .inside {
      height: $height-post-header;
      #social {
        text-align: right;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
// Section
////////////////////////////////////////////////////////////////////////////////
#main.wrapper {
  @include main-grid();
  @include linear-gradient(lighten($color-secondary, 20%), $color-secondary);
  .inside {
    background-color: $color-white;
    border-left: 1px solid $color-black;
    border-right: 1px solid $color-black;
    #slider {
      img {
        margin: 0;
        width: 100%;
      }
    }
    #promo-first {
      padding: $gutter;
      aside {
        padding: 0;
        margin: {
          top: ($gutter - 7px);
          bottom: 7px;
        }
        .inner {
          border: 1px solid #777;
          border-radius: 5px;
        }
      }
    }
    #breadcrumbs {
    }
    #content {
    }
    #sidebar-first {
    }
    #side-menu {
      @include vertical-menu();
      // @extend %vert-menu !optional;
    }
    #promo-second {
      aside {
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////////////////
#footer {
  @include footer-grid();
  #main-footer.wrapper {
    height: $height-main-footer;
    @include linear-gradient(lighten($color-secondary, 20%), $color-secondary);
    .inside {
      #footer-nav {
        // text-align: center;
        @extend %horizontal-menu !optional;
      }
    }
  }
  #post-footer.wrapper {
    height: $height-post-footer;
    @include linear-gradient(lighten($color-secondary, 20%), $color-secondary);
    .inside {
      #copyright {
        // text-align: center;
      }
    }
  }
}
