/*******************************************************************************
States
*******************************************************************************/
// @include media($mobile) {
//   #mobile,
//   #mobile-copyright,
//   #promo-wide-mobile,
//   .event-list,
//   #footer #social {
//     display: inherit !important;
//   }
//   #copyright,
//   #header,
//   #promo-wide,
//   .event-cal {
//     display: none !important;
//   }
// }
// @include media($tablet) {
//   #mobile,
//   #mobile-copyright,
//   #promo-wide-mobile,
//   .event-list,
//   #footer #social {
//     display: none !important;
//   }
//   #copyright,
//   #header,
//   #promo-wide,
//   .event-cal {
//     display: inherit !important;
//   }
// }
// @include media($desktop) {
//   #mobile,
//   #mobile-copyright,
//   #promo-wide-mobile,
//   .event-list,
//   #footer #social {
//     display: none !important;
//   }
//   #copyright,
//   #header,
//   #promo-wide,
//   .event-cal {
//     display: inherit !important;
//   }
// }

