////////////////////////////////////////////////////////////////////////////////
// Partials
////////////////////////////////////////////////////////////////////////////////
@import "base";
@import "components";
@import "layout";
// @import "states";

////////////////////////////////////////////////////////////////////////////////
// Styles
////////////////////////////////////////////////////////////////////////////////
#{$all-text-inputs} {
  height: 33px;
  border: 1px solid #999999;
  padding: 0 3px;
  font-size: 16px;
  color: #666666;
  @include placeholder {
    color: #666666;
    font-weight: $font-bold;
    font-size: 16px;
  }
}
a {
  color: $color-primary;
  &:hover {
    color: lighten($color-primary, 20%);
  }
  &:visited {
    color: lighten($color-primary, 10%);
  }
}
