// Resources:
// http://www.useragentman.com/blog/2010/04/05/cross-browser-animated-css-transforms-even-in-ie
// http://css3pie.com
//


  #mobile,
  #mobile-copyright,
  #promo-wide-mobile {
    display: none !important;
  }
  #copyright,
  #header,
  #promo-wide {
    display: inherit !important;
  }
