%btn-before {
  &:before {
    content: " ";
    display: inline-block;

    // Circle
    width: 7px;
    height: 7px;
    background-color: $color-white;
    border: 1px solid darken($color-white, 20%);
    border-radius: 100%;
    position: relative;
    top: -2px;
    right: 3px;
  }
}
%btn-after {
  &:after {
    content: " ";
    display: inline-block;
    // Bourbon Triangle
    @include triangle(14px, $color-white, right);
    position: relative;
    top: 0px;
    left: 8px;

    // Image
    // width: 15px;
    // height: 15px;
    // background: transparent url("http://placehold.it/30x30") 90% center no-repeat;

  }
}
@mixin btn-border(
  $bd-first: 0 0 0 1px #548FDC,
  $bd-second: 0 0 0 2px #204E87,
  $bd-third: 0 0 0 7px #D4D3D1,
  $border-rings: 3
  ) {
  @if $border-rings == 2 {
    box-shadow:
      $bd-first,
      $bd-second;
  } @else if $border-rings == 3 {
    box-shadow:
      $bd-first,
      $bd-second,
      $bd-third;
  }
}
@mixin button(
  $btn-bg-top: #3F7CCB,
  $btn-bg-bottom: #103B72,
  $btn-color: $color-white,
  $btn-font-size: 16px,
  $btn-padding: 5px 11px 5px 8px,
  $btn-margin: 8px,
  $btn-arrow: true,
  $border-rings: 3
  ) {

  display: block;
  position: relative;
  z-index: 1;
  padding: 0 20px;
  line-height: 40px;



  color: $btn-color !important;
  font-size: $btn-font-size;
  // padding: $btn-padding;
  display: inline-block;
  margin: $btn-margin;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0px -1px 1px #5A5A5A;
  font-weight: $font-bold;
  text-decoration: none;
  border: none;
  border-radius: 1px;
  @if $btn-arrow == true {
    @extend %btn-after;
    @extend %btn-before;
  }
  @include btn-border($border-rings: $border-rings);

  @include linear-gradient($btn-bg-top, $btn-bg-bottom);
  // @include transition-property(background-image);
  // @include transition-duration(.6s);
  // @include transition-timing-function(ease-in-ease-out);
  // @include box-shadow(0 0 0 $color-yellow);

  &:before {
    content: ".";
    text-indent: -99999px;
    width: 100%;
    height: 100%;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1px;
    border: 0;
    z-index: -1;
    opacity: 0;
    // @include linear-gradient(top, rgb(0, 156, 204), rgb(0, 111, 145));
    @include linear-gradient(lighten($btn-bg-top, 20%), lighten($btn-bg-bottom, 20%));
    @include btn-border($border-rings: $border-rings);
    color: darken($btn-color, 20%);
    @include transition(all 900ms ease);
  }
  &:hover:before {
    opacity: 1;
  }
}


%goat {
  > a {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    @include linear-gradient(top, rgb(204, 0, 51), rgb(153, 0, 0));
    &:before {
      content: ".";
      text-indent: -99999px;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      @include linear-gradient(top, rgb(0, 156, 204), rgb(0, 111, 145));
      @include transition(all 250ms linear);
    }
    &:hover:before {
        opacity: 1;
    }
  }
}



//     background: -webkit-gradient(linear, 0 0, 0 100%, from(green), to(#a5c956));
//     background: -webkit-linear-gradient(top,green,#a5c956);
//     background:    -moz-linear-gradient(top,green,#a5c956);
//     background:      -o-linear-gradient(top,green,#a5c956);
//     background:         linear-gradient(top,green,#a5c956);
//     }
// .button-helper {
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;

//     opacity: 0;

//     background: -webkit-gradient(linear, 0 0, 0 100%, from(lime), to(#89af37));
//     background: -webkit-linear-gradient(top,lime,#89af37);
//     background:    -moz-linear-gradient(top,lime,#89af37);
//     background:      -o-linear-gradient(top,lime,#89af37);
//     background:         linear-gradient(top,lime,#89af37);

//     -webkit-transition: opacity 1s linear;
//        -moz-transition: opacity 1s linear;
//          -o-transition: opacity 1s linear;
//             transition: opacity 1s linear;
//     }

// a.button:hover .button-helper
// {
//     opacity: 1;
// }




// nav ul#menu {
//     height: 40px;
//     padding: 0;
//     list-style: none;
//     font: 12px Tahoma;
// }

// nav ul#menu li {
//     float: left;
// }

// nav ul#menu li a {
//     display: block;
//     position: relative;
//     z-index: 1;
//     padding: 0 20px;
//     line-height: 40px;
//     color: #fff;
//     text-decoration: none;

//     /* webkit gradient background */
//     background: -webkit-linear-gradient(top, rgb(204, 0, 51), rgb(153, 0, 0));
// }

// nav ul#menu li a:before {
//     width: 100%;
//     height: 100%;
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     opacity: 0;

//     /* webkit gradient background */
//     background: -webkit-linear-gradient(top, rgb(0, 156, 204), rgb(0, 111, 145));

//     /* webkit transition */
//     -webkit-transition: all 250ms linear;

//     /* before hack */
//     content: ".";
//     text-indent: -99999px;
// }

// nav ul#menu li a:hover:before {
//     opacity: 1;
// }




// All Buttons
a.button, input[type="submit"] {
  @include button($btn-arrow: false);
  text-align: center;
}
