.styled-select select {
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 36px;
  -webkit-appearance: none;
}
.styled-select {
  width: 99%;
  height: 36px;
  overflow: hidden;
  background: url("../images/select-arrow.png") no-repeat 272px #ddd;
  border: 1px solid #ccc;
}



/* Side Block (7 Day Trial Form) */
#sidebar > section.region-sidebar > div#block-webform-client-block-13207 {
  @include media($desk-tab) {
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @include media($mobile) {
    margin: 5px 6%;
  }
  background-color: #F0F0F0;
  border: 1px solid #999999;
  padding: 8px;
  // margin: 15px;
  h2 {
    color: #980000;
    text-align: center;
    line-height: 1.2em;
    margin-top: 1px;
  }

  // Zen/Drupal override to remove that weird line
  form tbody {
    border-top: none;
  }
  label {
    font-weight: normal;
    font-size: $h6-font-size;
    text-transform: uppercase;
    // margin-top: 1px;
    // margin-bottom: 10px;
  }
  .webform-component {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  input[type=text],
  input[type=email] {
    width: 99%;
  }
  div#webform-component-first-name,
  div#webform-component-last-name {
    width: 49%;
    float: left;
  }
  div#webform-component-your-email {
    width: 98%;
    clear: left;
    // margin-bottom: 0px;
  }
  div#webform-component-privacy-disclaimer {
    // margin-top: 6px;
    // margin-bottom: 2px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .form-actions {
    text-align: center;
    input[type=submit] {
      font-size: 18px;
      padding: 4px;
      font-weight: normal;
      margin: 0;
    }
  }
}


