// Useful Functions - http://thesassway.com/advanced/pure-sass-functions
/* Turn numbers with units into unitless numbers: https://github.com/nex3/sass/i... */
@function clear-units($value){
  @if type-of($value) == "number" {
    @if (unitless($value)) {
      @return $value;
    }
    @else if unit($value) == "em"{
      @return $value / 1em;
    }
    @else if unit($value) == "px" {
      @return $value / 1px;
    }
    @else if unit($value) == "pt" {
      @return $value / 1pt;
    }
  }
  @else {
    @warn "Not a number value: #{$value}";
    @return $value;
  }
}

/*Do the math of pixel to EM conversion. Needs a base-font-size set in _base.scss */
@function px2em( $pixel, $base-size:$base-font-size ) {
  /* Remove units for easier math. We are converting to EMs anyway */
  $pixel: clear-units($pixel);
  $base-size: clear-units($base-size);
  @return #{$pixel / $base-size}em;
}


// Calculate target / context = result
@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}
@function cp($target, $container) {
  @return calc-percent($target, $container);
}






//Global
// here for demonstration purposes
@mixin trans($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin horizontal-line($top-line: #ECECEC, $middle-line: #DBDBDB, $bottom-line: #FCFCFC) {
  position: relative;
  height: 1px;
  width: 100%;
  border-top: 1px solid $middle-line;
  clear: both;
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
    border-bottom: 1px solid $top-line;
  }
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    border-top: 1px solid $bottom-line;
  }
}


.line {
  @include horizontal-line(#ECECEC, #DBDBDB, #FCFCFC);
}

// Breadcrumbs
.breadcrumb {
  z-index: 1000;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  a {
    font-weight: normal;
    color: $color-primary;
  }
}


// Zen Theme Custom Mixins:
