////////////////////////////////////////////////////////////////////////////////
// Experimental
////////////////////////////////////////////////////////////////////////////////
@mixin grid-1($align: center) {
  @include span-columns(1 of 1);
  text-align: $align;
}
@mixin grid-2($align-1: left, $align-2: left, $columns: $grid-columns) {
  $grid-part: ($columns / 2);
  > *:first-child {
    @include span-columns($grid-part of $columns);
    text-align: $align-1;
  }
  > *:last-child {
    @include span-columns($grid-part of $columns);
    @include omega();
    text-align: $align-2;
  }
}
@mixin grid-display($part: 3, $columns: $grid-columns) {
  $part-columns: ($columns / $part);
  @include span-columns($part-columns);
  @include omega($part'n');
}
// @mixin grid-3($align-1: left, $align-2: left, $align-3: left, $columns: $grid-columns) {
//   $grid-part: ($columns / 3);
//   > *:nth-child(1) {
//     @include span-columns($grid-part of $columns);
//     text-align: $align-1;
//   }
//   > *:nth-child(2) {
//     @include span-columns($grid-part of $columns);
//     text-align: $align-2;
//   }
//   > *:nth-child(3) {
//     @include span-columns($grid-part of $columns);
//     text-align: $align-3;
//   }
// }
@mixin matrix($row-items: 12) {
  @include span-columns(6 of $row-items);
  @include omega($row-items'n');
}
////////////////////////////////////////////////////////////////////////////////
// Headers
////////////////////////////////////////////////////////////////////////////////
@mixin header-grid() {
  @include media($mobile) { // Mobile Header
    #pre-header .inside {
      #twitter {
        @include span-columns(4);
      }
      #super-menu {
        @include span-columns(4);
      }
    }
    #main-header .inside {
      #brand {
        @include span-columns(4);
      }
      #main-menu {
        @include span-columns(4);
      }
    }
    #post-header .inside {
      #social {
        @include span-columns(4);
      }
    }
  }
  @include media($desk-tab) { // Desk & Tablet Header
    #pre-header .inside {
      #twitter {
        @include span-columns(4);
      }
      #super-menu {
        @include span-columns(8);
      }
    }
    #main-header .inside {
      #brand {
        @include span-columns(3);
      }
      #main-menu {
        @include span-columns(8);
        @include shift(1);
      }
    }
    #post-header .inside {
      #social {
        @include span-columns(12);
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
// Sections
////////////////////////////////////////////////////////////////////////////////
@mixin main-grid() {
  .inside {
    @include media($desk-tab) {
      #slider {
        @include span-columns(12);
      }
      #breadcrumbs {
        @include span-columns(12);
      }
      #content {
        @include span-columns(8);
      }
      #sidebar-first {
        @include span-columns(4);
        @include omega();
      }
    }
    #promo-first {
      aside {
        @include media($tablet) {
          @include span-columns(4);
          @include omega(2n);
          &:nth-child(3) {
            @include span-columns(8);
          }
        }
        @include media($desktop) {
          @include span-columns(4);
          @include omega(3n);
        }
      }
    }
    #promo-second {
      aside {
        @include media($tablet) {
          @include span-columns(4);
          @include omega(2n);
        }
        @include media($desktop) {
          @include span-columns(4);
          @include omega(3n);
        }
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
// Footers
////////////////////////////////////////////////////////////////////////////////
@mixin footer-grid() {
  #footer-nav {
    text-align: center;
    @include span-columns(12);
  }
  #copyright {
    text-align: center;
    @include span-columns(12)
  }
}
