

// %vertical-menu {
//   display: block;
// }



// @mixin old-horizontal-menu($bg-color, $font-color, $height:30px, $pane-margin-top: 5px) {
//   $mi-font-size: 16px;
//   $menu-height: 32px;
//   $mi-padding: ($menu-height - $mi-font-size)/2;
//   @extend %horizontal-menu;
//   > ul {
//     > li {
//       &:hover > a {
//         background-color: lighten(purple, 20%);
//         // @include linear-gradient(lighten($bg-color,50%),lighten($bg-color,80%));
//         color: darken($font-color,60%);
//       }
//       > a {
//         line-height: $mi-font-size;
//         text-transform: uppercase;
//         text-shadow: 1px 1px 3px black, 0 1px 2px $color-white;
//         opacity: 0.95;
//         font-size: $mi-font-size;
//         font-weight: bold;
//         height:$menu-height;
//         padding: $mi-padding 8px;
//         background-color: purple;
//         // @include linear-gradient(lighten($bg-color,20%),$bg-color);
//         color: lighten($font-color,60%);
//         @extend %btn-after;
//         @extend %btn-before;
//       }
//       > ul {
//         width: 200px;
//         border: 1px solid black;
//         border-radius: 3px;
//         background-color: white;
//         padding:10px 5px;
//         margin-top: $pane-margin-top;
//       }




      // > ul {
      //   img {
      //     border: 1px solid #002DA2;
      //   }

      //   top: 42px;
      //   z-index: 501;
      //   margin:4px auto;
      //   float:left;
      //   position:absolute;
      //   padding:10px 5px;
      //   border-top: 3px solid $color-black;
      //   border-bottom: #9B9B92;
      //   border-left: #E0E0DE;
      //   border-right: #E0E0DE;
      //   background: #E8E8E8;
      //   top: $height;
      //   > li {
      //     > a {
      //       @include linear-gradient(darken($bg-color, 20%), $bg-color);
      //       &:hover {
      //         @include linear-gradient(lighten($bg-color, 20%), $bg-color);
      //       }
      //     }
      //   }
      // }
//     }
//   }
// }

// Horizontal Menu
%horizontal-menu {
  width:100%;
  > ul {
    padding:0;
    margin:0;
    > li {
      border:none;
      position: relative;
      // float:left;
      display: inline-block;
      text-align: center;
      list-style: none;
      margin-right: 12px;
      > a {
        text-decoration:none;
      }
      > ul {
        left: -10000px;
        position:absolute;
        text-align:left;


        > li {
          display: block;
          list-style: none;
          > a {
            text-decoration:none;
          }
        }
      }
      &:hover > ul {
        left: -1px;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
// Horizontal Menu
////////////////////////////////////////////////////////////////////////////////
@mixin horizontal-menu(
  $menu-height: 40px,
  $hmenu-bg-1: lighten($color-primary, 20%),
  $hmenu-bg-2: $color-primary,
  $hmenu-hover: 10%,
  $hmenu-panel-width: 150px,
  $hmenu-item-hover-bd-px: 2px,
  $hmenu-item-hover-bd-type: solid,
  $hmenu-item-hover-bd-color: lighten(black, 30%)
  ) {
  > ul {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    font: 12px Tahoma;
    > li {
      border: none;
      float: left;
      // display: inline-block;
      position: relative;
      text-align: center;
      list-style: none;
      &:hover > a {
        color: black;
      }
      > a {
      text-align: center;
        box-sizing: border-box;
        display: block;
        position: relative;
        z-index: 1;
        padding: 0 20px;
        line-height: $menu-height;
        color: #fff;
        text-decoration: none;
        @include linear-gradient($hmenu-bg-1, $hmenu-bg-2);
        &:before {
          content: ".";
          text-indent: -99999px;
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          opacity: 0;
          color: black;
          @include linear-gradient(lighten($hmenu-bg-1,$hmenu-hover), lighten($hmenu-bg-2,$hmenu-hover));
          @include transition(all 150ms linear);
        }
      }
      &:hover > a:before {
        opacity: 1;
      }
      > ul {
        text-align: left;
        border: 1px solid black;
        border-top: none;
        border-radius: 0 0 5px 5px;
        background-color: lighten($hmenu-bg-2,$hmenu-hover);
        position: absolute;
        top: -99999px;
        left: 0;
        opacity: 0;
        width: $hmenu-panel-width;
        overflow: hidden;
        z-index: 10;
        @include transition(all 75ms linear);
        > li {
          padding: 0;
          margin: 0;
          > a {
            position: relative;
            display: block;
            padding: 12px 0 12px 5px;
            border-bottom: 1px solid tint(black,20%);
            font-size: 16px;
            color: black;
            z-index: 1;
            &:before {
              content: ".";
              text-indent: -99999px;
              width: 100%;
              height: 100%;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              opacity: 0;
              @include linear-gradient(lighten(orange, 30%),lighten(orange, 10%));
              @include transition(all 150ms linear);
            }
          }
          &:hover > a:before {
            opacity: 1;
          }
          &:last-child > a {
            border-bottom: none;
          }
        }
      }
      &:hover > ul {
        opacity: 1;
        // width: 200px;
        // height: inherit;
        top: $menu-height;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
// Vertical Menu
////////////////////////////////////////////////////////////////////////////////
@mixin vertical-menu() {
  > ul {
    > li {
      text-align: center;
      > a {
        position: relative;
        display: block;
        padding: 12px 0 12px 5px;
        border-top: 2px solid #757575;
        border-bottom: 2px solid #474747;
        font-size: 16px;
        color: #F0F0F0;
        z-index: 1;
        @include linear-gradient(#5F5F5F,darken(#5F5F5F,5%));
        &:before {
          content: '.';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: block;
          text-indent: -999em;
          z-index: -1;
          opacity: 0;
          @include linear-gradient(lighten(#5F5F5F,10%),lighten(#5F5F5F,5%));
          @include transition(all, 1000ms, ease);
        }
        &:hover:before {
          opacity: 1;
        }
        // &:active {
        // &:hover {
        //   color: lighten($color-primary, 90%);
        //   text-shadow: 0 0 3px $color-yellow;
        //   // @include linear-gradient(lighten(#5F5F5F,10%),lighten(#5F5F5F,5%));
        //   + ul {
        //     display: block;
        //   }
        // }
        + ul {
          display: none;
          > li {
            > a {
              // @include linear-gradient(#595959,darken(#595959,5%));
              // color: #9D9F93;
              // padding-left: 8px;

            }
          }
        }
      }
    }
  }
}


@mixin supermenu() {
  @include media($mobile) {
    @include vertical-menu();
  }
  @include media($desk-tab) {
    @include horizontal-menu();
  }
}




/* Header Menu */
#header-menu {
  ul.mega-menu {
    word-wrap: break-word;
    > li {
      float:left;
      text-align:center;
      position:relative;
      border:none;
      list-style: none;
      padding: 8px 0 25px 0; // in preperation for box border
      &:before {
        content: " | ";
        color: #DDDDDD;
      }
      &:first-child:before {
        content: none;
      }
      &:hover > a {
        color: $color-primary;
      }
      > a {
        color: $color-black;
        opacity: 0.95;
        font-size: 14px;
        font-weight: $font-bold;
        outline:0;
        text-decoration:none;
        text-transform: uppercase;
        padding: 0 5px 0 4px;
        text-shadow: 1px 1px 6px $color-white, 0 1px 2px $color-white;
      }
      > div.dropdown_container {
        top: 40px;
        z-index: 501;
        margin:4px auto;
        float:left;
        position:absolute;
        left:-10000px; /* Hides the drop down */
        text-align:left;
        padding:13px 5px 24px;
        border-top: 1px solid $color-black;
        border-bottom: #9B9B92;
        border-left: #E0E0DE;
        border-right: #E0E0DE;
        background: #E8E8E8;
        .col_list {
          display: table-cell;
          vertical-align: top;
          .td-inner {
            display: block;
            width: 200px;
            padding-left: 12px;
            ul.menu {
              ul {
                display: none;
              }
              > li {
                border: none;
                padding: 0;
                display: block;
                clear: left;
                line-height: 22px;
                > a {
                  color: $color-black !important;
                  font-weight: $font-bold;
                  font-size: 12px;
                  line-height: 1.9em;
                  padding: 0;
                  &:hover {
                    color: lighten($color-primary, 10%) !important;
                  }
                }
              }
            }
          }
        }
        .col_image {
          display: table-cell;
          .td-inner {
            display: block;
            width: 265px;
            padding-left: 34px;
          }
        }
        img {
          border: 1px solid #002DA2;
        }
        li {
          list-style-type: none;
          list-style-image: none;
        }
      }
    }
  }
}


















// @mixin mobile-menu() {
//   ul {
//     margin: 0;
//     padding: 0;
//     li {
//       a {
//         text-align: center;
//         display: block;
//         border: 1px solid #999;
//         text-transform: uppercase;
//         color: $color-primary;
//         font-weight: $font-bold;
//         font-size: 1.3rem;
//         padding: 12px 0;
//         margin: .05em 0;
//         &:last-child {
//           margin-bottom: 0;
//         }
//       }
//     }
//   }
// }


// // Placeholers
// %vertical-menu {
//   display: block;
// }

// %pane {
//   border: 1px solid $color-primary;
//   background-color: $color-white;
// }


// // Horizontal Menu
// %horizontal-menu {
//   width:100%;
//   > ul {
//     padding:0;
//     margin:0;
//     > li {
//       display:inline;
//       height:30px;
//       float:left;
//       list-style-type:none;
//       margin: 0;
//       // margin-left:15px;
//       > a {
//         float: left;
//         text-decoration: none;
//       }
//       > ul {
//         display: none;
//         @extend %pane;
//       }

//     }
//   }
// }

// @mixin horizontal-menu($bg-color, $font-color) {
//   @extend %horizontal-menu;
//   > ul {
//     > li {
//       > a {

//       }
//     }
//   }
//   height:30px;
//   ul li a {
//     @include background-image(linear-gradient(lighten($bg-color,20%),$bg-color));
//     padding: 5px 8px;
//     color: $font-color;
//     &:hover {
//       @include background-image(linear-gradient(lighten($bg-color,50%),lighten($bg-color,80%)));
//       color: darken($font-color,80%);
//     }
//   }
// }


// $mega-border: 1px solid #777777;
// $header-separator: 1px solid $color-black;

// /* Header Menu */
// #header-menu>div>div {
//   // z-index: 5000;
//   // Style
//   > ul {
//     word-wrap: break-word;
//     > li {
//       float:left;
//       text-align:center;
//       position:relative;
//       border:none;
//       list-style: none;
//       padding: 10px 0 25px 0; // in preperation for box border
//       &:before {
//         content: " | ";
//         color: #DDDDDD;
//       }
//       &:first-child:before {
//         content: none;
//       }
//       &:hover > a {
//         color: $color-primary;
//       }
//       > a {
//         color: $color-black;
//         font-size: 14px;
//         font-weight: $font-bold;
//         outline:0;
//         text-decoration:none;
//         text-transform: uppercase;
//         padding: 0 10px 0 10px;
//       }
//       > ul {
//         top: 42px;
//         z-index: 501;
//         margin:4px auto;
//         float:left;
//         position:absolute;
//         left:-10000px; /* Hides the drop down */
//         text-align:left;
//         padding:10px 5px;
//         border-top: 3px solid $color-black;
//         border-bottom: #9B9B92;
//         border-left: #E0E0DE;
//         border-right: #E0E0DE;
//         background: #E8E8E8;
//         img {
//           border: 1px solid #002DA2;
//         }
//         li {
//           list-style-type: none;
//           list-style-image: none;
//         }
//       }
//     }
//   }
// }

// .dropdown_container {
// }
// .col_list {
//   display: table-cell;
//   vertical-align: top;
//   .td-inner {
//     display: block;
//     width: 160px;
//     ul.mega-menu > li {
//       border: none;
//       padding: 0;
//       display: block;
//       clear: left;
//       > a {
//         color: $color-black !important;
//         font-weight: $font-bold;
//         font-size: 12px;
//         line-height: 1.9em;
//         padding: 0;
//         &:hover {
//           color: lighten($color-primary, 10%) !important;
//         }
//       }
//     }
//   }
// }
// .col_image {
//   display: table-cell;
//   .td-inner {
//     display: block;
//     width: 230px;
//   }
// }


// /* User & Footer Menus */
// #user-menu li,
// #mobile-user-menu li,
// #footer-menu li {
//   list-style-type: none;
//   display: inline;
//   &:before {
//     content: " | ";
//   }
//   &:first-child:before {
//     content: none;
//   }
// }

// #header-menu li:hover > ul > li,
// #header-menu li:hover .megamenu li {
// }
// #header-menu li:hover > ul > li:before,
// #header-menu li:hover .megamenu li:before {
//   content: none;
// }

// // Megamenu Columns
// .col_1, .col_2, .col_3, .col_4, .col_5 {
//   display:inline;
//   float: left;
//   position: relative;
//   margin-left: 5px;
//   margin-right: 5px;
// }

// $megamenu-column: 140px;
// $megamenu-gutter: 5px;

// .dropdown_1column  {width: $megamenu-column * 1;}
// .dropdown_2columns {width: $megamenu-column * 2;}
// .dropdown_3columns {width: $megamenu-column * 3;}
// .dropdown_4columns {width: $megamenu-column * 4;}
// .dropdown_5columns {width: $megamenu-column * 5;}

// .col_1 {width:($megamenu-column - ($megamenu-gutter * 2)) * 1;}
// .col_2 {width:($megamenu-column - ($megamenu-gutter * 2)) * 2;}
// .col_3 {width:($megamenu-column - ($megamenu-gutter * 2)) * 3;}
// .col_4 {width:($megamenu-column - ($megamenu-gutter * 2)) * 4;}
// .col_5 {width:($megamenu-column - ($megamenu-gutter * 2)) * 5;}


// // #header ul.mega-menu {
// //   > li {
// //     display: block;
// //     clear: both;
// //     padding: 0;
// //     &:before {
// //       content: none;
// //       border: none;
// //     }
// //     &:after {
// //       content: none;
// //       border: none;
// //     }
// //   }
// // }




// // Vertical Menu
// %vertical-menu {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style-type: none;
//     li {
//       margin: 0;
//     }
//     li a {
//       margin: 0;
//       text-decoration: none;
//       display: block;
//     }
//   }
// }
// @mixin vertical-menu($bg-color, $font-color) {
//   li a {
//     @include background-image(linear-gradient(lighten($bg-color,20%),$bg-color));
//     padding: 5px 8px;
//     color: $font-color;
//     &:hover {
//       @include background-image(linear-gradient(lighten($bg-color,50%),lighten($bg-color,80%)));
//       color: darken($font-color,80%);
//     }
//   }
//   @extend %vertical-menu;
// }



// %pane {
//   border: 1px solid $color-primary;
//   background-color: $color-white;

//   // top: 42px;
//   z-index: 5001;
//   margin:4px auto;
//   // float:left;
//   position:absolute;
//   top: 20px;
//   // left:-10000px; /* Hides the drop down */
//   text-align:left;
//   padding:10px 5px;
//   overflow: visible;
//   // border-top: 3px solid $color-black;
//   // border-bottom: #9B9B92;
//   // border-left: #E0E0DE;
//   // border-right: #E0E0DE;
//   // background: #E8E8E8;
//   // img {
//   //   border: 1px solid #002DA2;
//   // }
//   // li {
//   //   list-style-type: none;
//   //   list-style-image: none;
//   // }
// }


// .dropdown_container {
// }
// .col_list {
//   display: table-cell;
//   vertical-align: top;
//   .td-inner {
//     display: block;
//     width: 160px;
//     ul.mega-menu > li {
//       border: none;
//       padding: 0;
//       display: block;
//       clear: left;
//       > a {
//         color: $color-black !important;
//         font-weight: $font-bold;
//         font-size: 12px;
//         line-height: 1.9em;
//         padding: 0;
//         &:hover {
//           color: lighten($color-primary, 10%) !important;
//         }
//       }
//     }
//   }
// }
// .col_image {
//   display: table-cell;
//   .td-inner {
//     display: block;
//     width: 230px;
//   }
// }


// %vertical-menu {
//   ul {
//     > li {
//       display: block;
//       list-style-type: none;
//       > a {
//         width: 100%;
//         padding: 5px;
//         @include linear-gradient(lighten($color-primary, 20%), $color-primary);
//         color: white;
//       }
//     }
//   }
// }


// .dropdown_container {
// }
// .col_list {
//   display: table-cell;
//   vertical-align: top;
//   .td-inner {
//     display: block;
//     width: 160px;
//     ul.mega-menu > li {
//       border: none;
//       padding: 0;
//       display: block;
//       clear: left;
//       > a {
//         color: $color-black !important;
//         font-weight: $font-bold;
//         font-size: 12px;
//         line-height: 1.9em;
//         padding: 0;
//         &:hover {
//           color: lighten($color-primary, 10%) !important;
//         }
//       }
//     }
//   }
// }
// .col_image {
//   display: table-cell;
//   .td-inner {
//     display: block;
//     width: 230px;
//   }
// }


///////////////////////

// @mixin main-menu($bg-color, $font-color, $height:30px) {
//   @extend %horizontal-menu;
//   > ul {
//     > li {
//       > a {
//         height:$height;
//         padding: 5px 8px;
//         @include linear-gradient(lighten($bg-color,20%),$bg-color);
//         color: lighten($font-color,60%);
//         &:hover {
//           @include linear-gradient(lighten($bg-color,50%),lighten($bg-color,80%));
//           color: darken($font-color,60%);
//         }
//       }
//       > ul {
//         top: $height;
//         > li {
//           > a {
//             @include linear-gradient(darken($bg-color, 20%), $bg-color);
//             &:hover {
//               @include linear-gradient(lighten($bg-color, 20%), $bg-color);
//             }
//           }
//         }
//       }
//     }
//   }
// }
