////////////////////////////////////////////////////////////////////////////////
// Mobile Grid
////////////////////////////////////////////////////////////////////////////////
#mobile {
  #mobile-header {
    @include outer-container;
    #mobile-pre-header,
    #mobile-brand,
    #mobile-search,
    #mobile-menu {
      @include span-columns(12);
    }
    #mobile-pre-header {
      #mobile-toggle {
        @include span-columns(2 of 12);
      }
      #mobile-user-menu {
        @include span-columns(10 of 12);
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
// Mobile Mixins
////////////////////////////////////////////////////////////////////////////////


@mixin mobile-menu() {
  ul {
    margin: 0;
    padding: 0;
    li {
      a {
        text-align: center;
        display: block;
        border: 1px solid #999;
        text-transform: uppercase;
        color: $color-primary;
        font-weight: $font-bold;
        font-size: 1.3rem;
        padding: 12px 0;
        margin: .05em 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@mixin accordian() {
  li a {
    @extend %vert-menu;
  }
  // purely CSS accordian:
  // >li>ul {
  //   display: none;
  // }
  // >li>a:active + ul {
  //   display: block;
  // }
}

@mixin accordian-menu() {
  ul {
    @include accordian();
    li a { // Common Styling
      padding: 12px 0 12px 5px;
      border-top: 2px solid #757575;
      border-bottom: 2px solid #474747;
      font-size: 16px;
      &:hover {
        color: #FFFFFF;
        @include linear-gradient(lighten(#5F5F5F,10%),lighten(#5F5F5F,5%));
      }
    }
    >li>a { // Primary Link
      @include linear-gradient(#5F5F5F,darken(#5F5F5F,5%));
      color: #F0F0F0;
      &.active {
        color: lighten($color-primary, 90%);
        text-shadow: 0 0 3px $color-yellow;
        @include linear-gradient(lighten(#5F5F5F,10%),lighten(#5F5F5F,5%));
      }
    }
    >li>ul>li>a { // Child Item
      @include linear-gradient(#595959,darken(#595959,5%));
      color: #9D9F93;
      padding-left: 8px;
    }
  }
}



////////////////////////////////////////////////////////////////////////////////
// Mobile Layout & Styles
////////////////////////////////////////////////////////////////////////////////
#mobile {
  #mobile-header {
    #mobile-pre-header {
      color: $color-white;
      background-color: $color-primary;
      a {
        color: $color-white;
      }
      .toggle {
        img {
          margin-top: 5px;
        }
        text-align: left;
        width: 44px;
        padding-left: 5px;
      }
      #mobile-user-menu {
        text-align: right;
        height: 40px;
        line-height: 40px;
        ul {
          margin-right: (100%*10/320);
        }
        li:first-child a {
          color: $color-yellow;
        }
        li a {
          text-transform: uppercase;
        }
      }
    }
    #logo {
      text-align: center;
      height: 73px;
      width: 100%;
      background-color: $color-white;
      margin-bottom: 9px;
      @include linear-gradient($color-white, #E9E9E9);
      img {
        margin-top: 16px;
        width: 170px;
      }
    }
    #search {
      text-align: center;
      margin-bottom: 5px;
    }
    #mobile-menu {
      @include mobile-menu();
    }
  }
  #mobile-panel {
    background-color: #DDD;
    color: $color-white;
    border: 2px solid #9A9899;

    position: fixed;
    width: 75%;
    min-width: 250px;
    top: 0;
    left: -1000px;
    z-index: 499;
    #mobile-panel-header {
      @include linear-gradient(#AFAFAF, #5E5E5E);
      position: relative;
      h2 {
        height: 50px;
        padding-top: 10px;
        position: relative;
        text-align: left;
        padding-left: 5px;
        color: #333333;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px #fff;
        border-bottom: 2px solid #484848;
      }
      .toggle {
        position: absolute;
        z-index: 500;
        top: 5px;
        right: 5px;
        width: 44px;
      }
    }
    #mobile-panel-menu {
      @include accordian-menu();
    }
  }
}

