/* Promo */
// 322px X 270px

$box-width: 322;
#promo-second {
  .promo-wrapper:first-child {
    .button {
      font-size: 9px;
      margin: 0;
    }
  }
}

.promo-first,
.promo-second {
  position: relative;
  text-align: left;
  padding: 18px 10px 10px 20px;
  background-color: #F2F2F2;
  border: 1px solid #999999;
  margin-bottom: 5px;
  .promo-header {
    // position: relative;
    // height: 60px;
    h2 {
      text-transform: uppercase;
      // word-wrap: break-word;
      // line-height: 1.3em;
      // margin: 0;
      // padding: 0;
    }
  }
  .promo-main {
    padding-top: (12/$box-width * 100%);
    img {
      float: left;
      width: (($box-width - 200)/$box-width) * 100%;
    }
    p {
      float: left;
      width: (177/$box-width * 100%);
      margin-left: (20/$box-width * 100%);
    }
  }
  .button {
    clear: left;
    text-align: center;
    // width: 50%;
    margin-top: (20/$box-width * 100%);
  }
}
