@import "compass/css3/images";
@import "compass/css3/box-shadow";

/**
 * Styling for search block and search page.
 */
.block-search-api-page,
#search-api-page-search-form {
  h2 {
    display: none;
  }

  .form-item {
    display: inline-block;
    margin: 0;
  }

  label {
    display: none;
  }

  #autocomplete {
    background-color: red;
  }
}

.search-api-page-results {
  .search-performance {
    margin-left: 20px;
  }

  > h2 {
    display: none;
  }

  header {
    position: static;
    float: none;
  }

  h2 {
    a {
      color: rgb(0, 46, 98);
    }
  }
}
/* Search */
#search {
  input[type=text] {
    color: $color-primary;
    font-size: 16px;
    font-weight: $font-bold;
    border: 1px solid #454C52;
    height: 33px;
    margin-left: 19px;
    padding-left: 42px;
    background: url("../images/search.png") top left no-repeat;
    background-position: 5px 3px;
    background-color: $color-white;
    box-shadow: none;
    width: 420px;
    @include media($mobile) {
      width: 230px;
      margin-left: 3px;
    }
  }
  input[type=submit] {
    margin: 0;
    font-size: 17px;
  }
}

.view-club-search {
  // Generic row styles
  .views-row {
    border-bottom: 1px #999 solid;
    margin-bottom: 40px;
    padding-bottom: 35px;
    position: relative;

    @include media($mobile) {
      margin-bottom: 20px;
    }
  }

  // Generic field styles
  .views-field {
    color: $color-shadow;
    font-size: 14px;
    margin-left: 185px;

    @include media($mobile) {
      margin-left: 0;
    }
  }

  // Exposed filters
  .views-exposed-widgets {
    background: linear-gradient(to bottom, #999, #FFF);
    border: 1px solid #A0A0A0;
    padding: 10px 15px;
  }

  #edit-field-lat-lon-latlon-wrapper {
    label {
      color: $color-shadow;
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    #edit-field-lat-lon-latlon {
      border: 1px solid #666;
      color: #666;
      font-size: 16px;
      padding-left: 10px;
      height: 38px;
      width: 338px;
      @include box-shadow(inset 0 0 10px #D5D5D5);
    }
  }



  .view-filters {
    margin-bottom: 25px;
  }

  // Search Result Headers
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  h4 {
    border-bottom: 1px solid #C5C5C5;
    color: #003366;
    font-size: 14px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  // Club's image
  .views-field-field-club-thumbnail {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;

    img {
      border: 1px solid #676767;

      @include media($mobile) {
        width: 100%;
      }
    }

    @include media($mobile) {
      position: static;
    }
  }

  // Title of the club
  .views-field-title a {
    color: $color-primary;
    font-size: 18px;
    font-weight: bold;
  }

  // Address fields
  .views-field-field-address-province,
  .views-field-field-address-postal-code {
    margin: 0;
  }

  // Link to class schedule
  .views-field-nothing {
    margin-top: 20px;

    a {
      color: $color-primary;
      font-size: 11px;
      font-weight: bold;
    }
  }

  // Distance to the club
  .views-field-expression {
    background: url('../images/map-marker.png') top left no-repeat;
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
    position: absolute;
    right: 0;
    top: 0;

    @include media($mobile) {
      bottom: 85px;
      top: auto;
    }
  }

  // Link to Google Maps
  .views-field-nothing-1 {
    position: absolute;
    right: 16px;
    top: 10px;

    @include media($mobile) {
      top: auto;
      bottom: 75px;
      right: 20px;
    }

    a {
      color: $color-primary;
      font-size: 12px;
      font-weight: bold;
    }
  }

  // Club Page Button
  .views-field-view-node a {
    position: absolute;
    bottom: 0;
    right: 0;
    @include button($color-primary);

    @include media($mobile) {
      position: static;
    }
  }
}

// Facet blocks
.block-facetapi {
  h2 {
    font-size: 14px;
    text-transform: uppercase;
  }
}

// Amenities facets
.facetapi-facet-field-club-amenitiestitle {
  li.leaf {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 15px;
    margin-left: 0;
    a {
      color: $color-shadow;
      font-size: 12px;
      text-transform: capitalize;
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + a {
    background: url('../images/checkbox.png') no-repeat;
    background-position: 0 0;
    display: inline-block;
    height:15px;
    padding: 0 0 0 25px;
  }

  input[type='checkbox']:checked + a {
    background-position: 0 -15px;
    display: inline-block !important;
  }
}

#edit-search-container,
#edit-or-container,
#edit-club-container {
  float: left;

  @include media($mobile) {
    float: none;
  }

  label {
    color: $color-shadow;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

#edit-submit-club-search {
  @include button($color-primary);
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
}

#edit-search-container,
#edit-club-container {
  @include linear-gradient(top, #CCC, #FFF 50%, #CCC);
  border: 1px solid #A0A0A0;
  height: 87px;
  padding: 10px 15px;

  .chosen-container a {
    border: 1px solid #666;
    border-radius: 0;
    height: 40px;
  }

  #edit-clubs {
    width: 100%;
  }

  .chosen-container-single .chosen-single {
    span {
      color: #666;
      font-size: 16px;
      padding-top: 8px;
    }

    div {
      height: 18px;
      margin: 10px;
      width: 28px;

      b {
        background: url("../images/select-arrow-search.png") no-repeat;
        background-position: 0 0;
      }
    }
  }

  .chosen-container-single.chosen-with-drop .chosen-single {
    div b {
      background-position: 0 -18px;
    }

    .chosen-drop {
      border-color: #A0A0A0;
    }
  }
}

#edit-or-container {
  margin: 0 20px;
  padding-top: 47px;

  @include media($mobile) {
    text-align: center;
    padding: 20px 0;
  }

  .or-label {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

#edit-search-container {
  width: 470px;

  @include media($mobile) {
    width: 100%;
  }


  .form-item-field-lat-lon-latlon {
    display: inline-block;
  }



  #edit-field-lat-lon-latlon {
    border: 1px solid #666;
    color: #666;
    font-size: 16px;
    padding-left: 10px;
    height: 38px;
    width: 338px;
    @include box-shadow(inset 0 0 10px #D5D5D5);

    @include media($mobile) {
      width: 100%;
    }
  }
}

#block-boxes-narrow-search {
  margin: 30px 0 20px;

  h2 {
    border-bottom: 1px solid #C5C5C5;
    font-size: 24px;
    padding: 0 0 19px 0;
    text-transform: uppercase;
  }
}
