// trying to nest the controls w/in the slider-box
// resources:
//   https://drupal.org/node/1425960
//   https://drupal.org/node/1546218
//   http://c5blog.jordanlev.com/blog/2011/12/build-a-slideshow-block/
//   https://drupal.org/node/1879686
//   https://drupal.org/node/1289692


// /* Prev & Next */
// .flexslider:hover .flex-next,
// .flexslider .flex-next,
// .flexslider .flex-next:hover {
//   display: none;
// }
// .flexslider:hover .flex-prev,
// .flexslider .flex-prev,
// .flexslider .flex-prev:hover {
//   display: none;
// }
// .flexslider .flex-direction-nav a,
// .flexslider .flex-direction-nav a:hover,
// .flexslider:hover .flex-direction-nav a:hover {
//   display: none;
// }
// /* Adaptive Image */
// .flexslider .slides img {
//   width: 100%;
//   display: block;
//   // height: 42.5531914893617%;
// }
/* Slider Box */
// #slider-box {
//   display: none;
// }


/*******************
 Flex Slider
 *******************/
.flexslider {
  border: 0;
  margin: 0;
  position: relative;
  font-family: $base-font-family;
  font-weight: bold;
  text-decoration: none;
}
.flex-pauseplay {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 743px;
  z-index: 900;
}
.flex-control-paging {
  position: absolute;
  bottom: 24px;
  right: 0px;
}
.flex-viewport ul li h3 {
  margin: 0;
}

/* Pager */
.flex-control-paging {
  // bottom: 77px;
  // margin-left: -347px;
  // z-index: 499;
  li a {
    width: 19px;
    height: 19px;
    display: block;
    background: #CCCCCC;
    cursor: pointer;
    text-indent: -9999px;
    border: 2px solid white;
    @include border-radius(20px);
    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.3) inset);
  }
  li a.flex-active {
    background: #002D66;
    cursor: default;
  }
}
.flex-next,
.flex-prev {
  line-height: 40px;
  font-size: 40px;
}


/*******************
 Slider Box
 *******************/
#slider.wrapper { // because of the bleed on everything else
  padding: 0;
}

%slider-box {
  text-shadow: none;
  background-color: #F9F9F9;
  color: #333;
  margin: 0;
  padding: 5px;
  padding-bottom: 20px;
  border: 1px solid #999999;
  box-shadow: 0 0 20px #000;
  .slider-headline {
    h2 {
      text-transform: uppercase;
      font-size: 39px;
      line-height: 40px;
      // margin-bottom: 13px;
    }
  }
  .slider-caption {
    p {
      font-size: 16px;
      font-weight: normal;
    }
  }
  .slider-link {
    text-align: center;
    a {
      width: auto;
      font-size: 27px;
      padding: 11px;
      margin: 0;
      margin-top: 10px;
    }
  }
  // @include media($tab-break) {
  //   padding: 5px;
  //   padding-bottom: 15px;
  //   .slider-headline {
  //     h2 {
  //       font-size: 24px;
  //       line-height: 28px;
  //       // margin-bottom: 13px;
  //     }
  //   }
  //   .slider-caption {
  //     p {
  //       font-size: 12px;
  //     }
  //   }
  //   .slider-link {
  //     a {
  //       font-size: 21px;
  //       padding: 8px;
  //       margin: 0;
  //       margin-top: 8px;
  //     }
  //   }
  // }
}

li.flex-active-slide {
  position: relative;
}
.slider-box { // so only the active slide is displayed
  display: none;
}
li.flex-active-slide .slider-box {
  @extend %slider-box;
  display: inherit;
  position: absolute;
  top: cp(32,548);
  left: cp(1000,1811);
  // right: cp(375,1811);
  width: cp(600,1811);
  max-width: 400px;
  height: auto;
  @include media($mobile) {
    display: none;
  }
}
