.styled-select select {
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 36px;
  -webkit-appearance: none;
}
.styled-select {
  width: 99%;
  height: 36px;
  overflow: hidden;
  background: url("../images/select-arrow.png") no-repeat 272px #ddd;
  border: 1px solid #ccc;
}


// Breadcrumbs
.breadcrumb {
  z-index: 1000;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  a {
    font-weight: normal;
    color: $color-primary;
  }
}
/* Promo */
// 322px X 270px

$box-width: 322;

.promo-wrapper {
  position: relative;
  text-align: left;
  padding: (13/$box-width * 100%);
  background-color: #F2F2F2;
  border: 1px solid #999999;
  height: 270px;
  margin-bottom: 5px;
  .promo-header {
    position: relative;
    height: 60px;
    h2 {
      text-transform: uppercase;
      line-height: 10px;
      margin: 0;
      padding: 0;
    }
  }
  .promo-main {
    padding-top: (12/$box-width * 100%);
    img {
      float: left;
      width: (($box-width - 200)/$box-width) * 100%;
    }
    p {
      float: left;
      width: (177/$box-width * 100%);
      margin-left: (20/$box-width * 100%);
    }
  }
  .button {
    clear: left;
    text-align: center;
    // width: 50%;
    margin-top: (20/$box-width * 100%);
  }
}


/* Search */
.search {
  input[type=text] {
    color: $color-primary;
    font-weight: $font-bold;
    border: 1px solid #454C52;
    height: 33px;
    padding-left: 42px;
    margin-left: 20px;
    margin-top: 8px;
    background: url("../images/search.png") top left no-repeat;
    background-position: 5px 3px;
    background-color: white;
    box-shadow: none;
    @include breakpoint($desktop) {
      width: 435px;
    }
    @include breakpoint($tablet) {
      width: 70%;
    }
    @include breakpoint($mobile) {
      width: 50%;
      margin-left: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  input[type=submit] {
    top: 3px;
  }
  .form-wrapper {
    padding-top: 1px;
    padding-bottom: 6px;
    font-size: 21px;
    &:after {
      content: none;
    }
  }
}


// Fixing the new search
.form-item.form-type-textfield.form-item-keys-1 {
  margin-top: -1px;
}
#edit-submit-1 {
  position: absolute;
  left: 460px;
  top: -2px;
}

/* User & Footer Menus */
#user-menu li,
#mobile-user-menu li,
#footer-menu li {
  list-style-type: none;
  display: inline;
  &:before {
    content: " | ";
  }
  &:first-child:before {
    content: none;
  }
}

/* Mobile Panel */
#mobile-panel {
  background-color: black;
  background-image: linear-gradient(#DDD,#777);
  color: white;
  border: 2px solid #9A9899;
  h2 {
    background-color: blue;
    background-image: linear-gradient(#ACACAC, #646464);
    color: #333333;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #fff;
    border-bottom: 2px solid #484848;
  }
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      display: inline-block;
      font-size: 1.2rem;
      padding: 15px 0 15px 5px;
      background-image: linear-gradient(#5F5F5F,#595959);
      color: white;
    }
  }
}


/* Aside Block (7 Day Trial Form) */
aside .inside {
  margin-right: 25px;
  margin-bottom: 10px;

  background-color: #F0F0F0;
  border: 1px solid #999999;
  // padding: 8px;
  // margin: 15px;
  h2 {
    color: #980000;
    text-align: center;
    line-height: 1.2em;
    margin-top: 1px;
  }
  table {
    margin-top: -16px;
    width: 100%;
  }
  // Zen/Drupal override to remove that weird line
  form tbody {
    border-top: none;
  }
  label {
    font-weight: normal;
    font-size: $h6-font-size;
    margin-bottom: -20px;
  }
  input[type=text] {
    height: 33px;
  }
  input[name=fname],
  input[name=lname] {
    width: 90%;
  }
  input[name=email] {
    width: 95%;
  }
  p {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: $h5-font-size;
    line-height: $base-line-height;
  }
}
