%sticky-border {
  height: 10px;
  background-color: $color-primary;
  @include linear-gradient(lighten($color-primary, 10%),darken($color-primary, 1%));
  display: none;
  // z-index: 5000;
}
.sticky-border {
  .top {
    position: absolute;
    top: 0;
  }
  .bottom {
    position: relative;
    box-shadow: 0 1px 3px $color-shadow;
  }
  left: 0;
  right: 0;
  @extend %sticky-border;
}
#head-space {
  height: 139px;
  display: none;
  @include media($mobile) {
    height: 0;
  }
}
