

// http://compass-style.org/reference/compass/css3/font_face/
// @include font-face("Yo", font-files("http://fonts.googleapis.com/css?family=Happy+Monkey"));
// font-face($name, $font-files, $eot, $weight, $style)
// $font-files: woff, opentype/truetype, svg
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

// http://www.fontsquirrel.com/fonts/list/find_fonts
// http://www.google.com/fonts


// Typography
@import url(http://fonts.googleapis.com/css?family=Lobster);
$lobster          :"Lobster";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
$pt-sans          :"PT Sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
@import url(http://fonts.googleapis.com/css?family=Della+Respira);
$della-respira    :"Della Respira";
$courier          :"Courier New", "DejaVu Sans Mono", monospace, sans-serif;


$base-font-family   :$pt-sans;
  $font-headings    :$lobster;
  $font-body        :$della-respira;
  $font-monospace   :$courier;
  $font-bold        :700;
$base-font-size     :16px; // The font size set on the root html element.
$base-line-height   :24px; // This line-height determines the basic unit of vertical rhythm.

// http://compass-style.org/reference/compass/typography/vertical_rhythm/
@include establish-baseline;

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

$p-font-size:  1    * $base-font-size;

body, button, input, select, textarea {
  @include adjust-font-size-to($base-font-size);
  font-family: $base-font-family;
}

h1 { @include adjust-font-size-to($h1-font-size); font-family: $font-headings; }
h2 { @include adjust-font-size-to($h2-font-size); font-family: $font-headings; }
h3 { @include adjust-font-size-to($h3-font-size); font-family: $font-headings; }
h4 { @include adjust-font-size-to($h4-font-size); font-family: $font-headings; }
h5 { @include adjust-font-size-to($h5-font-size); font-family: $font-headings; }
h6 { @include adjust-font-size-to($h6-font-size); font-family: $font-headings; }

p {
  font-family: $font-body;
  @include adjust-font-size-to($p-font-size);
  // @include trailer($font-size: $p-font-size);
  @include trailer(2/3);
  // font-size: $base-font-size;
  // line-height: $base-line-height;
  // @include leader();
  // margin-bottom: 1 * $base-font-size;
}
article {
  ul {
    @include columns(80px 7);
  }
}
.inner {
  padding: $padding;
  @include columns(384px 2);
  h1 {
    @include column-span(2);
  }
  // text-align: center;
  h1,h2,h3,h4,h5,h6 {
    // text-align: left;
  }
  h1 {
    // text-indent: (-1/2 * $base-line-height);
  }
  p {
    // text-align: left;
    text-indent: $base-line-height;
  }
}


// #content {
//   clear: both;
//   column-count:2;
//   column-gap:2em;
//   column-rule: 1px dotted #444;
//   column-width: 350px;
//   -webkit-column-count:2;
//   -webkit-column-gap:2em;
//   -webkit-column-rule: 1px dotted #444;
//   -webkit-column-width: 350px;
//   -moz-column-count:2;
//   -moz-column-gap:2em;
//   -moz-column-rule: 1px dotted #444;
//   -moz-column-width: 350px;
//   -o-column-count:2;
//   -o-column-gap:2em;
//   -o-column-rule: 1px dotted #444;
//   -o-column-width: 350px;
// }
// #content h1 {
//   margin: 0 auto 10px;
//   text-align: center;
//   font-size: 2em;
//   font-style: bold;
//   column-span: all;
//   -webkit-column-span: all;
//   -moz-column-span: all;
//   -o-column-span: all;
// }
// #content img {
//   float: left;
//   margin: 2px 4px 2px 1px;
// }
